# Connect to server backend (use 10.0.2.2:3000 for local backend in Android emulator)
# EXPO_PUBLIC_API_URL=http://47.236.224.177:3000/api
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000/api

# hCaptcha site key (get at https://dashboard.hcaptcha.com/)
EXPO_PUBLIC_HCAPTCHA_SITE_KEY=your_hcaptcha_site_key
